
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc tablo örneği - Kategori</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Efdghsjkl</td>
        <td>true</td>
        <td><button class="btn btn-success">güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>sporjdksl</td>
        <td>true</td>
        <td><button class="btn btn-success">güncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>kitap</td>
        <td>sdwfdksl</td>
        <td>true</td>
        <td><button class="btn btn-success">güncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>sinema</td>
        <td>sdwfdksl</td>
        <td>true</td>
        <td><button class="btn btn-success">güncelle</button></td>
    </tr>

</table>
<button class="btn btn-info">yeni kategori</button>
<button class="btn btn-outline-warning">kategori listesi</button>
<button class="btn btn-danger">kategori açıklamaları</button>